<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-explore-container name="Tab 1 page"></app-explore-container>
  
  <ion-button expand="block" (click)="presentAlertCheckbox()">Fire Alert</ion-button>
  <ion-button expand="block" (click)="presentAlertMultipleButtons()">Fire Alert with Multiple Buttons</ion-button>
  <ion-button expand="block" (click)="presentModal()">Present Modal</ion-button>
</ion-content>
